@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

html, body {
    height: 100%;
  }
/* main {
    background-image: url(https://images.unsplash.com/photo-1520066975094-c321ec00637d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(92%);
} */

.photo-1-background {
    background-image: url(https://images.unsplash.com/photo-1520066975094-c321ec00637d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(92%); 
}

.photo-2-background {
    background-image: url(https://images.unsplash.com/photo-1474400643734-8e92a2bdbc2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(85%); 
}

.landing-welcome-message {
    color: white;
    text-shadow: 0.4px 1px grey;
}

.landing-buttons {
    background-color: #DEABA7;
    color: #A31932;
    height: 40px;
    width: 200px;  
    border-radius: 5px;
    font-weight: bold;
}

.google-button {
    background-color:#d34836;
    border: none;
}

.google-link:hover {
    font-weight: bold;
    text-decoration: none;
}

.facebook-button {
    background-color:#3b5998;
    border: none;
}

.facebook-link:hover {
    font-weight: bold;
    text-decoration: none;
}

.no-results {
    background-color: #DEABA7;
    background-size: cover;
    height: 743px;
    color: #A31932;
}

.sign-up-title, label, .return-link{
    color: #A31932;
}

.return-link:hover {
    color: #A31932;
    font-weight: bold; 
}

.sign-up-container {
    background-color: #DEABA7;
    background-size: cover;
    height: 743px;
}

.welcome-message h1 {
    color: #B34257;
    filter: brightness(100%)
}

nav {
    background-color: #DEABA7;
    background-color: #681020;
    font-size: 18px;
}

.navbar-brand {
    font-size: 3em;
    letter-spacing: 2px;
    font-family: 'Great Vibes', cursive; 
    font-weight: bold;
}

.navbar-brand, .nav-item {
    color: whitesmoke;
}

.navbar-brand:hover, .nav-item:hover {
    color: whitesmoke;
    font-weight: bold;
}

.navbar-dark .navbar-toggler {
    border: none;
}

#home-search-container {
    padding: 20%;
    height: 746px;
}

#landing-container {
    padding: 20%;
    height: 746px;
}

/* search-box */
.search-box {
    height: 35px;
    max-height: 35px;
}

@media (min-width: 576px) {
.search-box {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-top: 4px;
    }
}

@media (max-width: 575px) {
    .search-box {
        margin-top: 0.5px;
    }
}

input.form-control.mw-100.search-box.pl-2 {
    width: 250px;
    max-width: 250px;
}
/* search-box */

.select-box {
    height: 35px;
    max-height: 35px;
    width: 100px;
    max-width: 100px;
}

/* submit */
.submit {
    height: 35px;
    max-height: 35px;
    background-color: lightgray;
    color: #A31932;
    border: 1px solid darkgray;
    border-radius: 3px;
}

@media (min-width: 576px) {
.submit {
    margin-top: 3px;
    }
}

@media (max-width: 575px) {
    .submit {
        margin-top: 0.5px;
    }
}
/* submit */

.back-button span, .back-button a {
    color: #B34257;
}

.back-button a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #B34257;
}

.restaurant-list {
    list-style-type: none;
}

.restaurant-name {
    font-size: 18px;
}

.search-again a {
    /* color: #B34257; */
    color: lightgray;
    font-weight: bold;
}

.search-again a:hover {
    text-decoration: none;
    color: #B95366;
}

li .restaurant-name, li .restaurant-list {
    color: #A31932;
}

.results-length .text-secondary {
    color: darkgray;
}
