<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./static/partials/head.ejs %>
  </head>
    <body>
        <% include ./static/partials/navbar.ejs %>

        <h1><%= text %></h1>
        
        <% include ./static/partials/baseScripts.ejs %>
    </body>
</html>