<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
    <body>
        <% include ./partials/navbar.ejs %>

        <form action="/results" method="GET">
          <input type="text" placeholder="Enter a cuisine, ex: pizza, mexican, desserts, etc." name="">
          <input type="text" placeholder="Enter a city." name="">
          <input type="submit">
        </form>
        
        <% include ./partials/baseScripts.ejs %>
    </body>
</html>